@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-raleway);

  /* Algorütm brand colors */
  --color-brand-blue: #0033bb;
  --color-brand-blue-dark: #1a47c2;
  --color-brand-blue-medium: #335cc9;
  --color-brand-blue-soft: #4d70cf;
  --color-brand-blue-light: #6685d6;
  --color-brand-amber: #ffbe0b;
  --color-brand-dark: #2a2b2a;
  --color-brand-gray: #eeeeee;
}

body {
  font-family: var(--font-geist-sans), sans-serif;
}
